<h2>Day {{@day}}: {{@date}} </h2>

<ul class='groups-and-topics'>
    {{#each @groups_and_topics as |group_and_topic|}}
        <li>Group {{group_and_topic.group}}: <a href="{{group_and_topic.link}}">{{group_and_topic.topic}}</a> </li>
    {{/each}}
</ul>